*{
	font-size: 14px;
}
body{
	background-color: #f5f5f5;
}
.cashType{
	border: 1px solid #00bb9c;
	overflow: auto;
	width: 70%;
	box-sizing: border-box;
	margin-left: 15%;
	margin-top: 10px;
	border-radius: 4px; 
}
.cashType ul li{
	list-style: none;
	float: left;
	width: 50%;
	text-align: center;
	color: #00bb9c;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
}
.cashType ul li.current{
	background-color: #00bb9c;
	color: #fff;
}
.bor{
	border-left: 1px solid #00bb9c;
}
.getCash{
	clear: both;
	margin-top: 10px;
	background-color: #fff;
	padding: 10px 15px;
}
.tips{
	color: #666;
}
.font28 {
	font-size: 28px;
}
.font32 {
	font-size: 32px;
}
.cashinput{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	width: 80%;
	font-size: 32px;
}
.cashcnt{
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 10px;
}
.widtha{
	width: 10%;
	display: inline-block;
	box-sizing: border-box;
	float: none;
}
.widthb{
	width: 90%;
	display: inline-block;
	box-sizing: border-box;
	outline: none;
}
.allcash{
	float: right;
}
.cashcnt2{
	overflow: auto;
	padding: 10px 0 0 0;

}
.floatl{
	float: left;
	color: #999;
}
.floatr{
	float: right;
	color: #00bb9c;
}
button{
	width: 96%;
    margin-left: 2%;
    margin-top: 35px;
    border-radius: 3px;
    font-size: 16px;
    background: #08A600;
    color: white;
    padding: 10px 0;
    outline: none;
    letter-spacing: 1px;
    outline: medium;
    -webkit-appearance: none;
    border: 1px solid #08A600;
}
button:active{
	background: #008000
}