<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SkupluMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TSKUPLU
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		PLUCODE,	
		PLUNAME,	
		BARCODE,	
		UNITS,	
		SPEC,	
		PLUIMAGE,	
		PRICE,	
		PPRICE,	
		PLUCLASSID,	
		PLUTYPEID,	
		PLUSTATUS,	
		CREATEDATE,	
		LASTDATE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{PLUCODE},	
		#{PLUNAME},	
		#{BARCODE},	
		#{UNITS},	
		#{SPEC},	
		#{PLUIMAGE},	
		#{PRICE},	
		#{PPRICE},	
		#{PLUCLASSID},	
		#{PLUTYPEID},	
		#{PLUSTATUS},	
		#{CREATEDATE},	
		#{LASTDATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	    PLUCODE,	
		PLUNAME,	
		BARCODE,	
		UNITS,	
		SPEC,	
		PLUIMAGE,	
		PRICE,	
		PPRICE,	
		PLUCLASSID,	
		PLUTYPEID,	
		PLUSTATUS,	
		CREATEDATE,	
		LASTDATE
		) values (
		#{PLUCODE},	
		#{PLUNAME},	
		#{BARCODE},	
		#{UNITS},	
		#{SPEC},	
		#{PLUIMAGE},	
		#{PRICE},	
		#{PPRICE},	
		#{PLUCLASSID},	
		#{PLUTYPEID},	
		#{PLUSTATUS},	
		#{CREATEDATE},	
		#{LASTDATE}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PLUCODE = #{PLUCODE},
			PLUNAME = #{PLUNAME},
			BARCODE = #{BARCODE},
			UNITS = #{UNITS},
			SPEC = #{SPEC},
			PLUIMAGE = #{PLUIMAGE},
			PRICE = #{PRICE},
			PPRICE = #{PPRICE},
			PLUCLASSID = #{PLUCLASSID},
			PLUTYPEID = #{PLUTYPEID},
			PLUSTATUS = #{PLUSTATUS},
			CREATEDATE = #{CREATEDATE},
			LASTDATE = #{LASTDATE}
		where 
		ID = #{ID}
	</update>
	
	
	<!-- 修改 -->
	<update id="editStatus" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PLUSTATUS = #{PLUSTATUS}
		where 
		ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
		1=1
		<if test="pluCode!=-1 and pluCode!=null">
				and pluCode=#{pluCode}
			</if>
			<if test="ID!=-1 and ID!=null">
				and ID=#{ID}
			</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
	SELECT tskuplu.id,tskuplu.pluCode,tskuplu.pluName,tskuplu.barCode,tskuplu.units,tskuplu.spec,tskuplu.price,
	tskuplu.pPrice,tskuplu.pluClassId,tskuplu.pluTypeId,tskuplu.pluStatus,tskuplu.createDate,tskuplu.LastDate,
	(SELECT tcproperty.`name` FROM tcproperty  WHERE tcproperty.id=tskuplu.pluClassId) AS pluClassName,
	(SELECT tcproperty.`name` FROM tcproperty  WHERE tcproperty.id=tskuplu.pluStatus) AS pluStatusName,
	(SELECT tcproperty.`name` FROM tcproperty  WHERE tcproperty.id=tskuplu.pluTypeId) AS pluTypeName
	FROM tskuplu
		where 1=1
		<if test="pd!=null">
			<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
				and 
				(pluName LIKE CONCAT(CONCAT('', #{pd.keywords}),'%')
				 or
				 barCode LIKE CONCAT(CONCAT('', #{pd.keywords}),'%')
				)
			</if>
			<if test="pd.pluCode!=-1 and pd.pluCode!=null">
				and pluCode=#{pd.pluCode}
			</if>
			<if test="pd.pluClassId!=-1 and pd.pluClassId!=null">
				and pluClassId=#{pd.pluClassId}
			</if>
			<if test="pd.pluStatus!=-1 and pd.pluStatus!=null">
				and pluStatus=#{pd.pluStatus}
			</if>
			<if test="pd.pluTypeId!=-1 and pd.pluTypeId!=null">
				and pluTypeId=#{pd.pluTypeId}
			</if>
			<if test="pd.pluCodes!= null and pd.pluCodes != ''"><!-- 关键词检索 -->
				and pluCode not in (${pd.pluCodes})
			</if>
			<if test="pd.lastStart!= null and pd.lastStart != ''">
		 <![CDATA[ AND  DATE_FORMAT(createDate,'%Y-%m-%d') >=#{pd.lastStart}]]>
			</if>
			<if test="pd.lastEnd!= null and pd.lastEnd != ''">
		 <![CDATA[ AND  DATE_FORMAT(createDate,'%Y-%m-%d') <= #{pd.lastEnd} ]]>
			</if>
		</if>
		
		order by createDate desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT tskuplu.id,tskuplu.pluCode,tskuplu.pluName,tskuplu.barCode,tskuplu.units,tskuplu.spec,tskuplu.price,
		tskuplu.pPrice,tskuplu.pluClassId,tskuplu.pluTypeId,tskuplu.pluStatus,tskuplu.createDate,tskuplu.LastDate,
		(SELECT tcproperty.`name` FROM tcproperty  WHERE tcproperty.id=tskuplu.pluClassId) AS pluClassName,
		(SELECT tcproperty.`name` FROM tcproperty  WHERE tcproperty.id=tskuplu.pluStatus) AS pluStatusName,
		(SELECT tcproperty.`name` FROM tcproperty  WHERE tcproperty.id=tskuplu.pluTypeId) AS pluTypeName
		FROM tskuplu
		where 1=1
			<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
				and 
				(pluName LIKE CONCAT(CONCAT('', #{keywords}),'%')
				 or
				 barCode LIKE CONCAT(CONCAT('', #{keywords}),'%')
				)
			</if>
			<if test="pluCode!=-1 and pluCode!=null">
				and pluCode=#{pluCode}
			</if>
			<if test="pluClassId!=-1 and pluClassId!=null">
				and pluClassId=#{pluClassId}
			</if>
			<if test="pluStatus!=-1 and pluStatus!=null">
				and pluStatus=#{pluStatus}
			</if>
			<if test="pluTypeId!=-1 and pluTypeId!=null">
				and pluTypeId=#{pluTypeId}
			</if>
			<if test="lastStart!= null and lastStart != ''">
		 <![CDATA[ AND  DATE_FORMAT(createDate,'%Y-%m-%d') >=#{lastStart}]]>
			</if>
			<if test="lastEnd!= null and lastEnd != ''">
		 <![CDATA[ AND  DATE_FORMAT(createDate,'%Y-%m-%d') <= #{lastEnd} ]]>
			</if>
		
		order by createDate desc
	</select>
	
	<!-- 批量查询-->
	<select id="findAllByIds" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>
	<!-- 批量查询-->
	<select id="findAllByCode" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where pluCode in (#{pluCode})
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 414024003@qq.com -->
</mapper>