<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplenishMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TREPLENISH
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		STOREID,	
		PLUCODE,	
		REPLENISHCOUNT,	
		CREATEDATE,	
		CREATENAME
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},	
		#{STOREID},	
		#{PLUCODE},	
		#{REPLENISHCOUNT},	
		#{CREATEDATE},	
		#{CREATENAME}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		STOREID,	
		PLUCODE,	
		REPLENISHCOUNT,	
		CREATEDATE,	
		CREATENAME
		) values (
		#{STOREID},	
		#{PLUCODE},	
		#{REPLENISHCOUNT},	
		#{CREATEDATE},	
		#{CREATENAME}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			STOREID = #{STOREID},
			PLUCODE = #{PLUCODE},
			REPLENISHCOUNT = #{REPLENISHCOUNT},
			CREATEDATE = #{CREATEDATE},
			CREATENAME = #{CREATENAME}
		where 
		ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT treplenish.ID,treplenish.STOREID,treplenish.PLUCODE,treplenish.REPLENISHCOUNT,treplenish.CREATEDATE,treplenish.CREATENAME,
(SELECT tstore.storeName FROM tstore WHERE tstore.id=treplenish.storeId) AS STORENAME,
(SELECT tskuplu.pluName FROM tskuplu WHERE tskuplu.pluCode=treplenish.pluCode) AS PLUNAME
 FROM treplenish
		where 1=1
		<if test="pd!=null">
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					PLUCODE LIKE CONCAT(CONCAT('', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.storeId!=-1 and pd.storeId!=null">
				and STOREID=#{pd.storeId}
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
		 <![CDATA[ AND  DATE_FORMAT(createDate,'%Y-%m-%d') >=#{pd.lastStart}]]>
			</if>
			<if test="pd.lastEnd!= null and pd.lastEnd != ''">
		 <![CDATA[ AND  DATE_FORMAT(createDate,'%Y-%m-%d') <= #{pd.lastEnd} ]]>
			</if>
		</if>
		order by CREATEDATE desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT treplenish.ID,treplenish.STOREID,treplenish.PLUCODE,treplenish.REPLENISHCOUNT,treplenish.CREATEDATE,treplenish.CREATENAME,
(SELECT tstore.storeName FROM tstore WHERE tstore.id=treplenish.storeId) AS STORENAME,
(SELECT tskuplu.pluName FROM tskuplu WHERE tskuplu.pluCode=treplenish.pluCode) AS PLUNAME
 FROM treplenish
		where 1=1
		<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
			and
				(
					PLUCODE LIKE CONCAT(CONCAT('', #{keywords}),'%')
				)
		</if>
		<if test="storeId!=-1 and storeId!=null">
				and STOREID=#{storeId}
		</if>
		<if test="lastStart!= null and lastStart != ''">
		 <![CDATA[ AND  DATE_FORMAT(CREATEDATE,'%Y-%m-%d') >=#{lastStart}]]>
			</if>
			<if test="lastEnd!= null and lastEnd != ''">
		 <![CDATA[ AND  DATE_FORMAT(CREATEDATE,'%Y-%m-%d') <= #{lastEnd} ]]>
			</if>
			order by CREATEDATE desc
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 414024003@qq.com -->
</mapper>