.haslist ul li{
	list-style: none;
	padding: 5px 15px;
	border-bottom: 1px solid #e5e5e5;
	float: left;
	width: 100%;
	box-sizing:border-box;
}
.floatl{
	float: left;
	width: 70%;
	padding-right: 10px;
	box-sizing:border-box;
}
.floatr{
	float: right;
	width: 30%;
	padding: 5px 0;
}
.pimg{
	width: 100%;
	height: 70px;
}
.top{
	font-size: 15px;
	height: 60px
}
.bottom{
	font-size: 12px;
	color: #999;
}
.loadding{
	font-size: 12px;
}